body {
    margin: 40px 20px;
    color: #ffffff;
    background-color: #292525;
}

input:focus {
    outline: none;
}

.hide {
    display: none;
}

.button {
    background-color: #d5faff;
    &:hover {
        background-color: #aef4fd;
        cursor: pointer;
    }
}

.car-item {
    margin-bottom: 30px;
    .road {
        position: relative;
        height: 30px;
        margin-bottom: 5px;
        border-bottom: 2px dashed #ffffff;
        .flag {
            position: absolute;
            bottom: 3px;
            right: 80px;
        }
    }

    .car {
        height: 100%;
        svg {
            width: 50px;
            height: 100%;
        }
    }

    .car-name {
        margin-bottom: 0;
    }
}

.form {
    margin-top: 20px;

    input[type='color']::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type='color']::-webkit-color-swatch {
        border: none;
    }

    .color-car-input {
        height: 22px;
        vertical-align: bottom;
        background: none;
        border: none;
    }
}
